@font-face {
    font-family: "Exo2Regular";
    src: url("fonts/Exo2Regular/Exo2Regular.eot");
    src: url("fonts/Exo2Regular/Exo2Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CuprumRegular";
    src: url("fonts/CuprumRegular/CuprumRegular.eot");
    src: url("fonts/CuprumRegular/CuprumRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/CuprumRegular/CuprumRegular.woff") format("woff"),
    url("fonts/CuprumRegular/CuprumRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, :after, :before {
    box-sizing: border-box;
}

.text-block {
    -webkit-tap-highlight-color: transparent;
    /*line-height: 1.75;*/
    word-wrap: break-word;
    font-size: 17px;
    /*background: #f4f4f4;*/
    font-family: CuprumRegular, sans-serif;
    color: #333;
    padding-bottom: 30px;
    line-height: 1.428571429;
}

.text-block .isbold {
    font-weight: 700;
}

.text-block h1 {
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.1;
    font-size: 36px;
    margin: 15px 0 10px;
    padding: 0 0 6px;
    font-family: Exo2Regular, sans-serif;
    font-weight: 400;
    color: #517bb3;
}

.text-block p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 5px 0;
    margin: 0;
    line-height: 20px;
}

.text-block form {
    display: block;
    margin-top: 0em;
}

#form-online .form-group {
    padding: 10px;
    margin-bottom: 0;
}

#form-online .form-group:nth-child(even) {
    background: #dddbdb;
}

.text-block .form-control {
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
}

.text-block .form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-block .form-control, .form-control .selectize-input {
    border-radius: 0;
}

.text-block .checkbox,
.text-block .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-block .checkbox {
    padding-left: 20px;
}

/* checkboxes */
.text-block .checkbox input[type="checkbox"],
.text-block .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.text-block .checkbox-inline input[type="checkbox"],
.text-block .checkbox input[type="checkbox"],
.text-block .radio-inline input[type="radio"],
.text-block .radio input[type="radio"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}

.text-block input[type="checkbox"],
.text-block input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.text-block input[type="checkbox"],
.text-block input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* label */
.text-block .checkbox label,
.text-block .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.text-block .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.text-block .checkbox label:before {
    content: "";
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out;
}

.text-block .checkbox label:after,
.text-block .checkbox label:before {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

/* selectize */
.text-block .form-control.selectize-control {
    padding: 0;
    height: auto;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.text-block .checkbox label:after {
    width: 16px;
    height: 16px;
    top: -6px;
    padding-left: 0;
    padding-top: 0;
    font-size: 21px;
    color: #555;
}

.text-block input[type="checkbox"]:focus,
.text-block input[type="file"]:focus,
.text-block input[type="radio"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.text-block .checkbox input[type="checkbox"]:checked + label:after,
.text-block .checkbox input[type="radio"]:checked + label:after {
    font-family: FontAwesome, sans-serif;
    content: "\f14a";
}

.text-block .checkbox-primary input[type="checkbox"]:checked + label:after,
.text-block .checkbox-primary input[type="radio"]:checked + label:after {
    color: #366cab;
}

.text-block .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.text-block .form-control.selectize-control {
    height: 34px;
}

.text-block input,
.text-block textarea,
.text-block select,
.text-block button,
.text-block meter,
.text-block progress {
    -webkit-writing-mode: horizontal-tb;
}

.text-block input,
.text-block textarea,
.text-block select,
.text-block button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font-family: CuprumRegular, sans-serif;
    font-size: 14px;
}

.text-block select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    text-transform: none;
}

.text-block .form-control,
.text-block output {
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
}

.text-block option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.text-block button {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(197, 7, 7);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CuprumRegular;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 34px;
    letter-spacing: normal;
    line-height: 22.8571px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 892.5px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

.text-block .btn.btn-danger:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #777;
}

.text-block .btn.active.focus,
.text-block .btn.active:focus,
.text-block .btn.focus,
.text-block .btn:active.focus,
.text-block .btn:active:focus,
.text-block .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    box-shadow: none;
}

@media (max-width: 767px) {
    .text-block .hidden-xs {
        display: none !important;
    }
}

#user_phone::-webkit-input-placeholder {
    font-family: CuprumRegular, sans-serif;
    font-size: 14px;
}

#user_phone:-ms-input-placeholder {
    font-family: CuprumRegular, sans-serif;
    font-size: 14px;
}

#user_phone:-moz-placeholder {
    font-family: CuprumRegular, sans-serif;
    font-size: 14px;
}

#user_phone::-moz-placeholder {
    font-family: CuprumRegular, sans-serif;
    font-size: 14px;
}

.text-block .name,
.text-block .param {
    margin-bottom: 0;
}

/* not my design fix */
.col-main {
    width: 100%;
}
